  @font-face {
    font-family: ZawgyiOne;
    src: url(/fonts/ZawgyiOne.ttf);
  }

  @font-face {
    font-family: Zawgyi2008;
    src: url(/fonts/ZawgyiOne2008.ttf);
  }
  
  @font-face {
    font-family: MyaZedi;
    src: url(/fonts/MyaZedi06.ttf);
  }

  @font-face {
    font-family: NotoSans;
    src: url(/fonts/NotoSansMyanmar-Regular.ttf);
  }

  @font-face {
    font-family: Padauk;
    src: url(/fonts/Padauk.ttf);
  }

  @font-face {
    font-family: UniMon;
    src: url(/fonts/UniMon.ttf);
  }

  @font-face {
    font-family: UniMonSmall;
    src: url(/fonts/UniMon_small.ttf);
  }
  
  @font-face {
    font-family: Mon;
    src: url(/fonts/Mon.ttf);
  }

  @font-face {
    font-family: MonUni;
    src: url(/fonts/MonUni.ttf);
  }

  @font-face {
    font-family: RamanyaUnicode;
    src: url(/fonts/RamanyaUnicode.ttf);
  }
      
  @font-face {
    font-family: MonAnonta;
    src: url(/fonts/mm3anonta_1 Update 2013.ttf);
  }

  @font-face {
    font-family: Mon2012;
    src: url(/fonts/Mon 2012 00.ttf);
  }

  @font-face {
    font-family: Mon3;
    src: url(/fonts/mon3.ttf);
  }

  @font-face {
    font-family: KNU;
    src: url(/fonts/knu.TTF);
  }
  @font-face {
    font-family: SAW;
    src: url('/fonts/Saw cfcr000.TTF');
  }
  @font-face {
    font-family: KHLAN;
    src: url('/fonts/Khlan.ttf');
  }
  @font-face {
    font-family: KNEWN;
    src: url('/fonts/Knewn.ttf');
  }

  @font-face {
    font-family: ShanUnicode;
    src: url(/fonts/Shan Unicode.ttf);
  }   

  @font-face {
    font-family: ShanUnicode2;
    src: url(/fonts/ShanUnicode.ttf);
  }
  
  @font-face {
    font-family: PangLong;
    src: url(/fonts/PangLong_2011feb7.ttf);
  }

  @font-face {
    font-family: ZawgyiTai;
    src: url(/fonts/ZawgyiTai-2013.ttf);
  }  

  @font-face {
    font-family: ZDecode;
    src: url(/fonts/NotoSansMyanmar-Regular-ZawDecode.ttf);
  }

  .zawgyi_one {
    font-family: ZawgyiOne;
    font-size:28px;
   }

  .zawgyi_16 {
    font-family: ZawgyiOne;
    font-size: 20px;
  }
  
  textarea.zawgyi_one {
    height:36px;
  }   
  .zawgyi_2008 {
    font-family: Zawgyi2008;
    font-size:28px;
  }

  .myazedi {
    font-family: MyaZedi;
    font-size:28px;
  }
  
  .notosans {
    font-family: NotoSans;
    font-size:26px;
  }

  .notosans_16 {
    font-family: NotoSans;
    font-size: 20px;
  }
  
  .notosans14 {
    font-family: NotoSans;
    font-size:14px;
  }

  .padauk {
    font-family: Padauk;
    font-size:30px;
  }

  .unimon {
    font-family: UniMon;
    font-size:30px;
  }

  .unimon_small {
    font-family: UniMonSmall;
    font-size:30px;
  }

.mon {
    font-family: Mon;
    font-size:30px;
  }

.monuni {
    font-family: MonUni;
    font-size:30px;
  }

.ramanya {
    font-family: RamanyaUnicode;
    font-size:30px;
  }
  
.monanonta  {
    font-family: MonAnonta;
    font-size:30px;
  }

.mon3  {
    font-family: Mon3;
    font-size:30px;
  }

.mon2012  {
    font-family: Mon2012;
    font-size:30px;
  }
    
.knu {
    font-family: KNU;
    font-size:40px;
  }

.saw {
    font-family: SAW;
    font-size:40px;
  }

.khlan {
    font-family: KHLAN;
    font-size:32px;
  }

.knewn {
    font-family: KNEWN;
    font-size:32px;
  }

.shanUnicode  {
    font-family: ShanUnicode;
    font-size:30px;
  }

.shanUnicode2 {
    font-family: ShanUnicode2;
    font-size:27px;
  }  

.panglong {
    font-family: PangLong;
    font-size:27px;
}

.ZawgyiTai {
    font-family: ZawgyiTai;
    font-size:27px;
  }
 
  @font-face {
    font-family: Zwekabin;
    src: url(/fonts/Zwekabin_karen_2036710441.ttf);
  } 

.zwekabin {
    font-family: Zwekabin;
    font-size:27px;
  }

.zdecode {
    font-family: ZDecode;
    font-size:26px;
  }
