<!DOCTYPE HTML>
<html>
  <head>
    <title>Unicode - Zawgyi Conversion
   </title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

   <script type="text/javascript" src="/js/shake-n-break.js">
   </script>

  <script type="text/javascript" src="/js/myzu.js">
  </script>

  <style>
    .select-my {
      height: 50px;
      padding: 5px 5px;
    }
  </style>

  <script type="text/javascript" >
  // Test conversion with this data [zawgyi, unicode]
  var TEST_DATA = {
  {% for index, td_in, td_expected in testdata %}
  "{{td_in}}": "{{td_expected}}",
  {% endfor %}
  };

  function loadTest(selectObject) {
    var zValue = selectObject.value;
    var uValue = TEST_DATA[zValue];
    var textEntry = document.getElementById('TestEntry');
    textEntry.value = zValue;
    textEntry.innerHTML = zValue;
    var z1 = document.getElementById('z1');
    z1.value = zValue;
    z1.innerHTML = zValue;
    onload();
  }

  // Code to request transliteration (conversion) and handle the return.
  function convertRequest(source, type, outputId, outputHexId) {
    // Get the text and prepare the call to server.
    source_element = document.getElementById(source);
    text_in = encodeURIComponent(source_element.value);

    // Prepare for the call to the backendvar xmlhttp;
        if (window.XMLHttpRequest)
          {
          // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {
          // code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }

    // Deal with the results
    xmlhttp.onreadystatechange=function()
        {
          if(xmlhttp.readyState==4) {
                  if (xmlhttp.status != 200) {
                    alert('Bad status =' + xmlhttp.status);
                    return;
                  }
              var returned_json = xmlhttp.responseText;
                  var output_area = document.getElementById(outputId);
                  var json_obj = JSON.parse(returned_json);
                  // alert(json_obj.converted);

          output_area.innerHTML = json_obj.converted;
          output_area.value = json_obj.converted;
                  var hex_area = document.getElementById(outputHexId);
          hex_area.value = textToHex(json_obj.converted);

          var inOutSizes = json_obj.inputSize + " " + json_obj.resultSize;
          var testArea = document.getElementById('testOutput');
          testArea.innerHTML = inOutSizes;
          testArea.value = inOutSizes;

          var msg_area = document.getElementById('msgArea');
          msg_area.innerHTML = json_obj.msg;
          msg_area.value = json_obj.msg;
     }
        }

        // Set up the call.
    var encodedText = encodeURIComponent(text_in);
        var encodedTarget = "/convert/?text=" + encodedText + "&type=" + type +
          "&noreturn=1";  // UNUSED

        var target = "/convert/?text=" + text_in + "&type=" + type +
          "&noreturn=1";
        xmlhttp.open("GET", target, true);
        var size = target.length;
        xmlhttp.send(null);
  }

  // TODO: report data problem.
  function reportProblem(type) {
          var converted_area = document.getElementById('convertedText');
          var input_area = document.getElementById('TestEntry');
        var target = "/entererror/?input=" + input_area.value +
          "&converted=" + converted_area.value +
          "&type=" + type +
          "&noreturn=1";
          // TODO: Send to back end to post in submitError.html.
      window.location.href = target;
  }

  function onload() {
    textToHexField('z1', 'zInHex');

    // Call the conversions.
    convertRequest('z1', 'Z', 'unicode_in', 'uInHex');
    convertRequest('unicode_in', 'U', 'zoutput', 'zOutHex');
    convertRequest('zoutput', 'Z', 'unicode_out', 'uOutHex');
  }
  </script>


  </head>

  <body onload="onload()">

  <div class="container">

    <div class="span-20">

      <h1>Myanmar Uniocde to Zawgyi Converter</h1>
      <p>Just paste your Myanmar text into the "Test" field. The characters will be shown
        in the fonts, and hex codes will be shown.

        <div>
          Known Zawgyi content: <a href="http://burmese.voanews.com/"  target="_blank">
            burmese.voanews.com</a> and
          <a href="http://frontiermyanmar.net/mm" target="_blank">FrontierMyanmar.net/mm</a>
          <p>
            Known Unicode content: <a href="http://www.bbc.com/burmese"  target="_blank">
              bbc.com/burmese</a>
        </div>
      <div>
        <h4 style='margin:0;padding:0;'>Text Entry:</h4>
        <p>
          <input type="text" id="TestEntry" class='notosans' size="40"
                 onchange="enterTestText(true)" value="{{input_text}}" placeholder="<enter text here>" />
          <div id="detectedZU"></div>
      </div>
    </div>

    <div class="span-4 last">
      <a href="/burmese/">Burmese & Zawgyi</a> <br />
      <a href="/shan/">Shan</a> <br />
      <a href="/mon/">Mon</a> <br />
      <a href="/karen/">Karen</a> <br />
      <hr>
      <a href="http://www.unicode.org/charts/PDF/U1000.pdf">Myanmar Unicode</a>
      <br />
      <a href="http://www.unicode.org/charts/PDF/UAA60.pdf">Extended-A</a>
      <br />
      <a href="http://www.unicode.org/charts/PDF/UA9E0.pdf">Extended-B</a>

      <br />
      <a href="https://www.unicode.org/notes/tn11/UTN11_3.pdf">Representing Myanmar in Unicode</a>
      <br />

      <!--
          <input type='button' value='Toggle keyboard' onClick="toggleKeyboard(); return false;" />
          -->
    </div>
  </div>  <!-- container -->

  <div class="container">
    <div class='span-16'>
      <hr>

      <div>
        <h4 style='margin:0;padding:0;'>Zawgyi IN
          <input type="button" value="-> hex" onclick="textToHexField('z1', 'zInHex');" />
          <input type="button" value="-> Unicode"
                 onclick="convertRequest('z1', 'Z', 'unicode_in', 'uInHex');"
                 />
        </h4>
        <br />
        <textarea id="z1"  class='zawgyi_one' onchange="textToHexField('z1', 'zInHex');"
                  rows="3" cols="80">{{default_zawgyi}}</textarea>
      </div>

      <div>
        <h4 style='margin:0;padding:0;'>Zawgyi OUT <strong>(UNDER CONSTRUCTION) </strong>
          <input type="button" value="-> Unicode" onclick="convertRequest('zoutput', 'Z', 'unicode_out', 'uOutHex')" />
        </h4>
        <textarea id="zoutput"  class='zawgyi_one'
                  rows="3" cols="80"></textarea>
      </div>
      <hr>
      <div>
        <h4 style='margin:0;padding:0;'>Unicode IN:</h4>
        <input type="button" value="-> Z" onclick="convertRequest('unicode_in', 'U', 'zoutput', 'zOutHex')" />

        <div id="msgArea" class='notosans14'> </div>
        <textarea id="unicode_in"  class='notosans'
                  rows="5" cols="80"></textarea>

        <h4 style='margin:0;padding:0;'>Unicode OUT:</h4>
        <div id="uOut" class='notosans14'> </div>
        <textarea id="unicode_out"  class='notosans'
                  rows="2" cols="80"></textarea>
        <hr>
      </div>
    </div>  <!-- end of left column -->

    <div class='span-8 last'>
      <hr>
      <h4 style='margin:0;padding:0;'>Zawgyi in hex:</h4>
      <br />
      <textarea id="zInHex"  class='notosans14'
                rows="5" cols="40"></textarea>
      <input type="button" value="-> Zawgyi" onclick="hexToOutput('zInHex', 'z1');" />

      <hr>
      <h4 style='margin:0;padding:0;'>Zawgyi out hex:</h4>

      <textarea id="zOutHex"  class='notosans14'
                rows="5" cols="40"></textarea>
      <hr>

      <h4 style='margin:0;padding:0;'>Unicode in hex:</h4>
      <textarea id="uInHex"  class='notosans14'
                rows="5" cols="40"></textarea>
      <input type="button" value="-> Unicode In" onclick="hexToOutput('uInHex', 'unicode_in');" />
      <hr>

      <h4 style='margin:0;padding:0;'>Unicode out hex:</h4>
      <textarea id="uOutHex"  class='notosans14'
                rows="5" cols="40"></textarea>
      <hr>
    </div>
  </div>  <!-- end container -->
  
  <div class='container'>
    <div>
      <p>Hex:</p>
      <input type="text" id="hexText" onchange="enterHex()" size="100"/>
      
      <input type="submit" value="Convert hex to text" onSubmit="enterHex()" />
      <input type="button" value="-> scratch" onclick="copyText('hexText', 'scratchText')" />
      <input type="button" value="-> Unicode" onclick="hexToOutput('hexText', 'notoSans')" />
      <input type="button" value="-> Zawgyi" onclick="hexToOutput('hexText', 'z1')" />
      <input type="button" value="-> Myazedi" onclick="hexToOutput('hexText', 'myazedi')" />
    
    </div>
  
    <div>
      TEST DATA:
      <select class="select-my" onchange="loadTest(this)">
        {% for index, td_in, td_expected in testdata %}
        <option value="{{td_in}}">{{index}}: {{td_expected}}</option>
        {% endfor %}
      </select>
      <br />
      <p>Scratch pad:</P>
      <textarea id="scratchText" class='notosans14' rows="1" cols="80"></textarea>
      <input type="button" value="Scratch -> Unicode" onclick="hexToOutput('scratchText', 'notoSans');" />
    </div>
    <hr>
    <br />
    <form action="/feedback" method="get">
      <input type="submit" value="Send feedback" />
    </form>
    <form action="/feedback" method="get">
      <input type="submit" value="Report conversion problem"
      onclick="return reportProblem('zawgyi');" />
    </form>
    </div>
    <input type='text' id='testOutput' input>
  </div> <!-- container -->
     </body>
</html>
