<!DOCTYPE HTML>
<html>
  <head>
    <title>Unicode <-> Zawgyi Conversion
   </title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  
   <script type="text/javascript" src="/js/shake-n-break.js"></script>

  <script type="text/javascript" src="/js/myzu.js"></script>

  <script src="{{myanmar_tools_info.detector_url}}"></script>
  <script src="{{myanmar_tools_info.converter_url}}"></script>

  <style>
    .select-my {
      height: 50px;
      padding: 5px 5px;
    }
  </style>

  <script type="text/javascript" >
  const zawgyi_converter = new google_myanmar_tools.ZawgyiConverter();
  const zawgyi_detector = new google_myanmar_tools.ZawgyiDetector();

  // Store pointers.
  myzu_initialize(zawgyi_detector, zawgyi_converter);

  // Test conversion with this data [zawgyi, unicode]
  var TEST_DATA = {
  {% for index, td_in, td_expected in testdata %}
  "{{td_in}}": "{{td_expected}}",
  {% endfor %}
  };

  function loadTest(selectObject) {
    var zValue = selectObject.value;
    var uValue = TEST_DATA[zValue];
    var textEntry = document.getElementById('TestEntry');
    textEntry.value = zValue;
    textEntry.innerHTML = zValue;
    var z1 = document.getElementById('z1');
    z1.value = zValue;
    z1.innerHTML = zValue;
    onload();
  }

  // Code to request transliteration (conversion) and handle the return.
  function convertRequest(source, type, outputId, outputHexId) {
    // Get the text and prepare the call to server.
    source_element = document.getElementById(source);

    text_in = source_element.value;
    var converted = false;    
    var outText = "";
    if (type == "Z") {
        // Just call the javascript version.
        outText = zawgyi_converter.zawgyiToUnicode(text_in);
        converted = true;    
    } else
    if (type == "U") {
        outText = zawgyi_converter.unicodeToZawgyi(text_in);
        converted = true;    
    } else {
        outText = zawgyi_converter.normalizeZawgyi(text_in);
        converted = true;    
    }
    if (converted) {
        var output_area = document.getElementById(outputId);
        output_area.innerHTML = output_area.value = outText;
        
        var hex_area = document.getElementById(outputHexId);
        hex_area.value = textToHex(outText);
        return;
    }

    // Otherwise, send to the backend for converting.
    text_in = encodeURIComponent(source_element.value);

    // Prepare for the call to the backendvar xmlhttp;
        if (window.XMLHttpRequest)
          {
          // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {
          // code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }

    // Deal with the results
    xmlhttp.onreadystatechange=function()
        {
          if(xmlhttp.readyState==4) {
                  if (xmlhttp.status != 200) {
                    alert('Bad status =' + xmlhttp.status);
                    return;
                  }
              var returned_json = xmlhttp.responseText;
                  var output_area = document.getElementById(outputId);
                  var json_obj = JSON.parse(returned_json);
                  // alert(json_obj.converted);

          output_area.innerHTML = json_obj.converted;
          output_area.value = json_obj.converted;
                  var hex_area = document.getElementById(outputHexId);
          hex_area.value = textToHex(json_obj.converted);

          var inOutSizes = json_obj.inputSize + " " + json_obj.resultSize;
          var testArea = document.getElementById('testOutput');
          if (testArea) {
            testArea.innerHTML = inOutSizes;
            testArea.value = inOutSizes;
          }
          var msg_area = document.getElementById('msgArea');
          msg_area.innerHTML = json_obj.msg;
          msg_area.value = json_obj.msg;
     }
        }

        // Set up the call.
    var encodedText = encodeURIComponent(text_in);
        var encodedTarget = "/convert/?text=" + encodedText + "&type=" + type +
          "&noreturn=1";  // UNUSED

        var target = "/convert/?text=" + text_in + "&type=" + type +
          "&noreturn=1";
        xmlhttp.open("GET", target, true);
        var size = target.length;
        xmlhttp.send(null);
  }

  // TODO: report data problem.
  function reportProblem(type) {
        var converted_area = document.getElementById('convertedText');
        var input_area = document.getElementById('TestEntry');
        var target = "/entererror/?input=" + input_area.value +
          "&converted=" + converted_area.value +
          "&type=" + type +
          "&noreturn=1";
          // TODO: Send to back end to post in submitError.html.
      window.location.href = target;
  }

  function newTextContent(area, hexArea) {
    var z1 = document.getElementById("z1");
    textToHexField(area, hexArea);
    
  }

  function getTextRange(source, output) {
    var area = document.getElementById(source);
    var start = area.selectionStart;
    var end = area.selectionEnd;
    var outArea = document.getElementById(output);
    outArea.innerHTML = outArea.value = start + " - " + end;
    return start + "-" + end;
  }

  // Send text to external site for visualization of Zawgyi detection.
  function callVisualization(sourceName) {
    var area = document.getElementById(sourceName);
    var intext = area.value;
    var url_call = '{{myanmar_tools_info.detector_demo}}#s=' + intext;
    window.open(url_call, "_blank");
  }

  function onload() {
    textToHexField('z1', 'zInHex');

    // Call the conversions.
    convertRequest('z1', 'Z', 'unicode_in', 'uInHex');
    convertRequest('unicode_in', 'U', 'zoutput', 'zOutHex');
    convertRequest('zoutput', 'Z', 'unicode_out', 'uOutHex');

    var z1 = document.getElementById("z1");
    z1.onresize = function() {
      var inarea = document.getElementById('z1');
      var x = 0;
    }

  }
  </script>


  </head>

  <body onload="onload()">

  <div class="container">

    <div class="span-20">

      <h1>Myanmar Unicode - Zawgyi Converter</h1>
      <p>Just paste your Myanmar text into the "Test" field. The characters will be shown
        in the fonts, and hex codes will be shown.

        <div>
          Known Zawgyi content: <a href="http://burmese.voanews.com/"  target="_blank">
            burmese.voanews.com</a> and
          <a href="http://frontiermyanmar.net/mm" target="_blank">FrontierMyanmar.net/mm</a>
          <p>
            Known Unicode content: <a href="http://www.bbc.com/burmese"  target="_blank">
              bbc.com/burmese</a>
        </div>
        <div>
          <p>This page uses <a href="{{myanmar_tools_info.mm_tools_source}}">myanmar-tools
              on GitHib</a> for detection (V{{myanmar_tools_info.detector_version}})
            and converting (V{{myanmar_tools_info.converter_version}}) Zawgyi text.
        </div>
        <div>
          <h4 style='margin:0;padding:0;'>Text Entry:</h4>
          <p>
<input type="text" id="TestEntry" class='notosans' size="40"
onchange="enterTestText(true);" value="" placeholder="<enter text here>" />
<input type="button" value="Visualize Detection Details"
onclick="callVisualization('TestEntry');"/>
<span id="detectedZU" class="score"></span>
<br/>
      </div>
    </div>

    <div class="span-4 last">
      <a href="/burmese/">Burmese & Zawgyi</a> <br />
      <a href="/shan/">Shan</a> <br />
      <a href="/mon/">Mon</a> <br />
      <a href="/karen/">Karen</a> <br />
      <hr>
      <a href="https://tipitaka.org/mymr/" target="_blank">Pali Unicode samples</a>
      <hr>
      <a href="http://www.unicode.org/charts/PDF/U1000.pdf">Myanmar Unicode</a>
      <br />
      <a href="http://www.unicode.org/charts/PDF/UAA60.pdf">Extended-A</a>
      <br />
      <a href="http://www.unicode.org/charts/PDF/UA9E0.pdf">Extended-B</a>
      <hr>
      <a href="{{myanmar_tools_info.mm_tools_source}}">Learn about Myanmar Tools on GitHub</a>
      <hr>
      <a href="https://www.unicode.org/notes/tn11/UTN11_3.pdf">Representing Myanmar in Unicode</a>
      <br />
      <a href="https://www.unicode.org/faq/myanmar.html">MyanmarUnicode FAQ</a>
      <a href="https://my.wikipedia.org/wiki/Wikipedia:Font">Wikipedia:Font</a>
      <br />

      <!--
          <input type='button' value='Toggle keyboard' onClick="toggleKeyboard(); return false;" />
          -->
    </div>
  </div>  <!-- container -->

  <div class="container">
    <div class='span-2'>
      Zawgyi IN
      <input type="button" value="-> hex"
             onclick="textToHexField('z1', 'zInHex');" />
      <input type="button" value="-> U"
             onclick="convertRequest('z1', 'Z', 'unicode_in', 'uInHex');"
             />
      <input type="button" value="Norm "
             onclick="convertRequest('z1', 'Znormalize', 'zoutput', 'zOutHex');"
             />

      <input type="button" value="range"
             onclick="getTextRange('z1', 'z1Range');"
             />
    </div>
    <div class='span-10'>
      <textarea id="z1"
                class='zawgyi_one' onchange="newTextContent('z1', 'zInHex');"
                rows="3" cols="40">{{default_zawgyi}}</textarea>
    </div>
    <div class='span-10'>
      <textarea id="zInHex"  class='notosans14'
                rows="3" cols="40"></textarea>
      <textarea id="z1Range"  class='notosans'
                rows="1" cols="20"></textarea>
    </div>
    <div class='span-2 last'>
      <input type="button" value="-> Z"
             onclick="hexToOutput('zInHex', 'z1');" />
    </div>
    
  </div>
  <div class="container">
    <div class='span-2'>
      Uni IN
      <input type="button" value="-> hex"
             onclick="textToHexField('unicode_in', 'uInHex');" />
      <input type="button" value="-> Z"
             onclick="convertRequest('unicode_in', 'U', 'zoutput', 'zOutHex')" />
      <input type="button" value="range"
             onclick="getTextRange('unicode_in', 'u1_Range');"
             />
    </div>
    
    <div class='span-10'>
      <textarea id="unicode_in"  class='notosans'
                rows="3" cols="40"></textarea>
      <textarea id="u1_Range"  class='notosans'
                rows="1" cols="20"></textarea>
    </div>
    <div class='span-10'>
      <textarea id="uInHex"  class='notosans14'
                rows="3" cols="40"></textarea>
    </div>
    <div class='span-2 last'>
      <input type="button" value="-> U"
             onclick="hexToOutput('uInHex', 'unicode_in');" />
    </div>
  </div>

  <div class="container">
    <div class='span-2'>
      Zawgyi OUT
      <input type="button" value="-> Unicode"
             onclick="convertRequest('zoutput', 'Z', 'unicode_out', 'uOutHex')" />
    </div>

    <div class='span-10'>
     <textarea id="zoutput"  class='zawgyi_one'
                rows="3" cols="80"></textarea>
    </div>
    <div class='span-10'>
      <textarea id="zOutHex"  class='notosans14'
                rows="5" cols="40"></textarea>
    </div>
    <div class='span-2 last'>
    </div>
  </div>
  
  <div class="container">
    <div class='span-2'>
      <h4 style='margin:0;padding:0;'>Unicode OUT:</h4>
    </div>
    <div class='span-10'>
      <div id="uOut" class='notosans14'> </div>
      <textarea id="unicode_out"  class='notosans'
                rows="2" cols="80"></textarea>
    </div>
    <div class='span-10'>
      
      <h4 style='margin:0;padding:0;'>Unicode out hex:</h4>
      <textarea id="uOutHex"  class='notosans14'
                rows="5" cols="40"></textarea>
    </div>
    <div class='span-2 last'>
    </div>
  </div>
  
  <div class="container">
    <hr>
    
    <div class='span-14'>
      <h4>TEST DATA:</h4>
      <select class="select-my" onchange="loadTest(this)">
        {% for index, td_in, td_expected in testdata %}
        <option value="{{td_in}}">{{index}}: {{td_expected}}</option>
        {% endfor %}
      </select>
      <br />
    </div>
    <br />
  </div> <!-- container -->
  </body>
</html>
